<% content_for :title, "게시글" %>

<section class="section-heading">
  <div>
    <h1>게시글</h1>
    <p>게시글은 각 챕터 안에서 확인할 수 있습니다.</p>
  </div>
  <%= link_to "챕터 보기", chapters_path, class: "button primary" %>
</section>
